<div class="customer-card">
  <%= image_tag customer.image if customer.image.attached? %>
  <h3><%= customer.full_name %></h3>
  <p><%= customer.phone_number %></p>
  <p><%= mail_to customer.email_address if customer.email_address.present? %></p>
</div>
